################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CorvallisTransitForWindows/v14
/.vs/config
/Corvallis Transit/bin
/Corvallis Transit/obj
*.user
*.lock.*
